@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

:root {
    --feher: white;
    --zold: #5d6a09;
    --sotetebbzold: #414a04;
    --piros: #81150b;
    --vilagossarga: #ffeccb;
}

body {
    background-image: url('../img/bg_pizza.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav, footer {
    background-color: var(--piros);
    color: var(--feher) !important;
}

nav a {
    color: var(--feher) !important;
}

h1, h2 {
    font-family: 'Cabin Sketch', cursive;
    color: var(--zold);
}

h2 {
    font-size: 3rem;
}

ul {
    list-style-image: url('../img/pizza_icon.png');
}

ul > li {
    line-height: 30px;
}

p :not(.extrak) {
    line-height: 2;
    text-indent: 15px;
}

.sargacucc {
    box-sizing: border-box;
    border: #414a04 double 5px;
    background-color: var(--vilagossarga);

    display: flex;
    flex-wrap: wrap;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    border-radius: 10px;
    box-shadow: 1px 1px 3px 3px #414a04;
}

span.pizza {
    color: var(--sotetebbzold);
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px !important;
    }
}

@media screen and (min-width: 769px) {
    h1 {
        font-size: 7rem !important;
    }
}
